 .clearfix(){
     &::after{
         content: "";

         display: table;
         clear: both;
     }
    
 }

.container(){
    width: 320px;
    margin:0 auto;

    @media @tablet-widths{
        width:640px;
    }
    
    @media @desktop-widths{
        width:960px;
    }
}
 
.no-outline(){
    outline: none;
    background: transparent;

    &::before{
        display: none; 
    }
}  

.block-title(){
    margin:0;
    padding:20px 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: -1px;

    min-height: 30px;

    font-size:24px;  
}