@font-face{
    font-weight: normal;
    font-family: "PT Sans Narrow";
    font-style: normal;
    src:url("../fonts/pt-sans-narrow-v8-latin-regular.woff2") format("woff2"),
    url("../fonts/pt-sans-narrow-v8-latin-regular.woff") format("woff");
}
@font-face{
    font-weight: 700;
    font-family: "PT Sans Narrow";
    font-style: normal;

    src: url("../fonts/pt-sans-narrow-v8-latin-700.woff2") format("woff2"),
    url("../fonts/pt-sans-narrow-v8-latin-700.woff") format("woff");
}

body{
    font-size: 14px;
    line-height: 27px;
    font-family: "PT Sans Narrow", sans-serif;
    color:#f7f4f1;
    background-color: @bg-darkgrey;
    margin:0;
}
img {
    max-width: 100%;
    height:auto;
} 
.btn{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: bold;
    font-size:14px;
    border: 1px solid fade(grey,20%);
    padding:10px 13px;
    color:black;

    &:hover{
        border-color: fade(grey,80%);
    }
}
.visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}
@media @tablet-widths{
    body{
        font-size: 18px;

    }
  
}
