@bg-darkgrey: #282828;
@bg-lightgrey: #f8f5f2;
@stats-mediumgrey: #4E4E4E;

@header-main-nav: #826550;
@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)  , (min-width:600px) and (orientation: landscape)";  
@desktop-widths: ~"(min-width: 1200px)";